<div class="modal fade" id="vacationEmployeeModal" tabindex="-1" role="dialog"
    aria-labelledby="vacationEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vacationEmployeeModal">Reserve Vacation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm">
                    <div class="form-group">
                        <label for="vacationDates">Vacation Dates</label>
                        <select ngModel name="date" class="form-control">
                            <option disabled>Select Vacation Date</option>
                            <option *ngFor="let vacationDay of vacationDates">{{ vacationDay.date }}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="vacation-employee-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="addForm.invalid" a (click)='onAddVacation(addForm, employee.userId, employee.jobTitle)' type="submit" data-dismiss="modal"
                        class="btn btn-primary"class="btn btn-primary">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>