<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet"> 
</head>
<div class="main-body" id="main-container">
    <section class="big-container">
        <section *ngFor="let employee of employees" class="main-container zoom">
            <article class="user-container">
                <div class="image-container"><img src="./assets/user_image.png" alt="" class="image" a (click)="onOpenModal(employee, 'info')"></div>
                <div class="user-information" a (click)="onOpenModal(employee, 'info')">
                    <div>
                        <p>Name:</p>
                        <p>{{ employee?.firstName }} {{ employee?.lastName }}</p>
                    </div>
                    <div>
                        <p>Role:</p>
                        <p>{{ employee?.jobTitle }}</p>
                    </div>
                    <div>
                        <p>E-mail:</p>
                        <p>{{ employee?.email }}</p>
                    </div>
                    <div>
                        <p>Phone:</p>
                        <p>{{ employee?.phoneNumber }}</p>
                    </div>
                    <div>
                        <p>Status:</p>
                        <p>{{ employee?.employeeStatus }}</p>
                    </div>
                </div>

            </article>
            <article class="button">
                <div class="float-right btn-group btn-group-sm buttons">
                    <a class="btn btn-primary tooltips" a (click)="onOpenModal(employee, 'edit')" data-placement="top"
                        data-original-title="Edit"><i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-secondary tooltips" a (click)="onOpenModal(employee, 'delete')"
                        data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
            </article>
        </section>
    </section>
</div>
<info-modal [infoEmployee]="infoEmployee"></info-modal>
<update-modal [editEmployee]="editEmployee" (reload)="reloadPage()"></update-modal>
<delete-modal [deleteEmployee]="deleteEmployee" (reload)="reloadPage()"></delete-modal>