<div *ngIf="userRole === 'ROLE_ADMIN'">
    <add-modal (reload)="reloadPage()"></add-modal>
    <schedule-vacation></schedule-vacation>
    <term-vacation></term-vacation>
</div>
<div *ngIf="userRole === 'ROLE_EMPLOYEE'">
    <book-vacation [employee]="employee" (reload)="reloadPage()"></book-vacation>
    <reserved-vacation-user [employee]="employee" [update]="update"></reserved-vacation-user>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand font-styles" style="color: white">Employ Easy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <span class="divider" >|</span>
            <li class="nav-item" *ngIf="userRole === 'ROLE_ADMIN'">
                <a class="nav-link" a (click)="onOpenModal('add')">Add Employee<span
                        class="sr-only">(current)</span></a>
            </li><span class="divider" *ngIf="userRole === 'ROLE_ADMIN'">|</span>
            <li class="nav-item" *ngIf="userRole === 'ROLE_ADMIN'">
                <a class="nav-link" a (click)="onOpenModal('vacationSchedule')">Vacation Schedule<span
                        class="sr-only">(current)</span></a>
            </li><span class="divider" *ngIf="userRole === 'ROLE_ADMIN'">|</span>
            <li class="nav-item" *ngIf="userRole === 'ROLE_ADMIN'">
                <a class="nav-link" a (click)="onOpenModal('vacationTermPeriods')">Search Dates<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="userRole === 'ROLE_EMPLOYEE'">
                <a class="nav-link" a (click)="onOpenModal('vacation')">Reserve date <span
                        class="sr-only">(current)</span></a>
            </li><span class="divider" *ngIf="userRole === 'ROLE_EMPLOYEE'">|</span>
            <li class="nav-item" *ngIf="userRole === 'ROLE_EMPLOYEE'">
                <a class="nav-link" a (click)="onOpenModal('reservedVacation')">My reservations<span
                    class="sr-only">(current)</span></a>
        </ul>
        <form class="form-inline my-2 my-lg-0" hidden="true">
            <!-- input #key="ngModel" (ngModelChange)="searchEmployees(key.value)" ngModel-->
            <input type="search" name="key" id="searchName" class="form-control mr-sm-2"
                placeholder="Search employees..." required />
        </form>
    </div>
</nav>